#nav-toggle span, #nav-toggle span:before, #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 5px;
    width: 35px;
    background: white;
    position: absolute;
    display: block;
    content: '';
}
span {
    top: 25px;
    left: 25px;
}
#nav-toggle span:before {
    top: -10px;
}
#nav-toggle span:after {
    bottom: -10px;
}

li {
    text-align: left;
    margin: 10px;
    list-style-type: none;
}
li > button, button {
    position: absolute;
    right: 50px;
    background: #74bbfb;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}
