li {
    text-align: left;
    margin: 10px;
    list-style-type: none;
}
li > button, button {
    position: absolute;
    right: 50px;
    background: #74bbfb;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
}
